body {
  margin: 0;
  padding: 0;
  background-color: #343434;
}

header > h1 {
  display: block;
  margin: 0;
  width: 100%;
  height: 30px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #00b454), color-stop(0.00, #228751));
  background: -webkit-linear-gradient(top, #00b454 0%, #228751 100%);
  background: -moz-linear-gradient(top, #00b454 0%, #228751 100%);
  background: -o-linear-gradient(top, #00b454 0%, #228751 100%);
  background: -ms-linear-gradient(top, #00b454 0%, #228751 100%);
  background: linear-gradient(top, #00b454 0%, #228751 100%);
}

header > h1 > a {
  display: block;
  width: 100%;
  height: 100%;

}

header > h1 > a > span {
  display: none;
}

nav {
  display: block;
  float: right;
}
nav > ul {
  margin: 5px;
  list-style: none;
}

nav > ul > li {
  display: inline-block;
  margin: 5px 10px;
  font-family: Gill Sans;
  font-size: 1em;
  font-weight: bold;
}

nav > ul > li > a {
  color: #00b454;
  text-decoration: none;
}

nav > ul > li > a:hover {
  color: #228751;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
