body {
  margin: 0;
  padding: 0;
  background-color: #343434;
  font-size: 14pt;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", "ＭＳ Ｐゴシック", Verdana, Geneva, Arial, Helvetica;
}

article, aside, section, header, footer {
  display: block;
}

header > h1 {
  display: block;
  margin: 0;
  width: 100%;
  height: 30px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #00b454), color-stop(0.00, #228751));
  background: -webkit-linear-gradient(top, #00b454 0%, #228751 100%);
  background: -moz-linear-gradient(top, #00b454 0%, #228751 100%);
  background: -o-linear-gradient(top, #00b454 0%, #228751 100%);
  background: -ms-linear-gradient(top, #00b454 0%, #228751 100%);
  background: linear-gradient(top, #00b454 0%, #228751 100%);
}

header > h1 > a {
  display: block;
  width: 100%;
  height: 100%;

}

header > h1 > a > span {
  display: none;
}

nav {
  display: block;
  float: right;
}
nav > ul {
  margin: 5px;
  list-style: none;
}

nav > ul > li {
  display: inline-block;
  margin: 5px 10px;
  font-family: Gill Sans;
  font-size: 1.2em;
  font-weight: bold;
}

nav > ul > li > a {
  color: #00b454;
  text-decoration: none;
}

nav > ul > li > a:hover {
  color: #228751;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

article {
  display: block;
  margin: 2em auto;
  width: 56em;
  -webkit-box-shadow: rgba(255,255,255,0.07) 0 1px 0;
  -o-box-shadow: 0 1px 0 #444444;
  -ms-box-shadow: 0 1px 0 #444444;
  box-shadow: 0 1px 0 #444444;
  border-bottom: 1px solid #202020;
}

article > h1 {
  color: #78e700;
  font-size: 2em;
  font-family: 'ヒラギノ角ゴ Pro W6', 'Hiragino Kaku Gothic Pro W6', Meiryo, メイリオ, 'ＭＳ Ｐゴシック', Verdana, Geneva, Arial, Helvetica;
  -webkit-box-shadow: rgba(255,255,255,0.07) 0 1px 0;
  -o-box-shadow: 0 1px 0 #444444;
  -ms-box-shadow: 0 1px 0 #444444;
  box-shadow: 0 1px 0 #444444;
  border-bottom: 1px solid #202020;

}

article > h1:first-letter {
  font-size: 1.5em;
}

article > div {
  display: block;
  margin: 10px auto;
  width: 48em; 
}

article > div > aside {
  float: left;
  width: 12em;
}

article > div > aside > ul {
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
  list-style: none;
  width: 100%;
}

article > div > aside > ul > li > a {
  color: #086ca2; 
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
}

article > div > aside > ul > li > a:hover {
  color: #235b79;
}

article > div > div {
  margin: 0;
  padding: 0;
  float: right;
  width: 36em;
}

article > div > div > section {
  margin-bottom: 2em;
}

article > div > div > section > h2 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  color: #00b454;
  font-family: 'ヒラギノ角ゴ Pro W6', 'Hiragino Kaku Gothic Pro W6', Meiryo, メイリオ, 'ＭＳ Ｐゴシック', Verdana, Geneva, Arial, Helvetica;
  font-size: 1.5em;
  font-weight: bold;
}

article > div > div > section > p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  line-height: 1.25em; 
  color: #bebebe;

  font-size: 1em;
  word-break: break-all;
  word-wrap: break-word;
}

article > div > div > time {
  float: right;
  color: #666666;
  font-size: 0.8em;
  font-family: Georgia, Constantia, Hoefler Text, serif;
  font-weight: normal;
}

body > div {
  padding-bottom: 120px;
  -webkit-box-shadow: rgba(255,255,255,0.07) 0 1px 0;
  -o-box-shadow: 0 1px 0 #444444;
  -ms-box-shadow: 0 1px 0 #444444;
  box-shadow: 0 1px 0 #444444;
  border-bottom: 1px solid #202020;

}

footer > div {
  display: block;
  margin: 0 auto;
  max-width: 1280px;
}

footer > div > section {
  float:left;
  width: 320px;
  height: 280px;
}
